language: android
jdk:
  - oraclejdk7
android:
  components:
  - tools
  - build-tools-23.0.3
  - android-25
  - platform-tools
  - extra-google-google_play_services
  - extra-google-m2repository
  - extra-android-m2repository
  - addon-google_apis-google-19
  - sys-img-armeabi-v7a-android-23

apply plugin: 'checkstyle'
  checkstyle {
    configFile rootProject.file('checkstyle.xml');
  }

script:
  - cd ./buildSystem/dependencies.gradle
  - chmod +x ./gradlew
  - chmod +x ./gradlew test
