language: android
jdk:
  - oraclejdk7
android:
  components:
  - tools
  - build-tools-23.0.3
  - android-25
  - platform-tools
  - extra-google-google_play_services
  - extra-google-m2repository
  - extra-android-m2repository
  - addon-google_apis-google-19
  - sys-img-armeabi-v7a-android-23

notifications:
  email:
  - ian.arbuckle18@gmail.com

before_install:
  - pip install --user codecov

before_ script:
  - chmod +x gradlew

script:
  - ./gradlew clean build

after_success:
  - codecov


