<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ianarbuckle.fitnow">

    <permission android:name="com.ianarbuckle.fitnow.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.ianarbuckle.fitnow.permission.MAPS_RECEIVE"
                     android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"
                  android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:name=".FitNowApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6c515ae111246dd2b511d91ccc951e841acda3ef"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ianarbuckle.fitnow.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".BlankActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".home.HomeActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".authentication.AuthPagerActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".authentication.AuthPagerActivity"/>

        <activity android:name=".walking.WalkPagerActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".home.HomeActivity"/>

        <activity android:name=".walking.walkingtimer.WalkRecordingActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".walking.WalkPagerActivity"/>

        <activity android:name=".walking.walkingtimer.results.ResultsPagerActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".home.HomeActivity"/>

        <activity android:name=".running.RunningPagerActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".running.RunningPagerActivity"/>
        
        <activity android:name=".running.runningtimer.RunRecordingActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".running.RunningPagerActivity" />

    </application>

</manifest>